* {
  box-sizing: border-box;
}

/* #findBrands {
  background: url('https://images.all-free-download.com/images/graphicthumb/green_trees_landscape_vector_286567.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
} */

#search-products {
  margin-top: 5px;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar {
  position: fixed;
}

.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  padding-top: 100px;
}

#sidebar {
  padding: 50px;
}

#content {
  padding: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.score-list {
  max-width: 50%;
  width: 1000px;
}

.route-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.score-item {
  /* border: 1px solid black; */
  border-radius: 5px;

  padding: 20px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);

  margin-bottom: 10px;

  font-size: 1vw;
}

.score-item.gold {
  border: 2px solid gold;
}

.score-item.silver {
  border: 2px solid silver;
}

.score-item.bronze {
  border: 2px solid brown;
}

.score-item a {
  color: black;
}

.score-item a:visited {
  color: black;
}

.score-item img {
  border: 2px solid silver;
  border-radius: 50%;

  background: white;

  max-width: 50px;
  width: 100%;
  height: 50px;

  overflow: hidden;

  margin-right: 15px;
}